<% provide(:title, t(:connection)) %>
<h1><%= t(:connection) %></h1>

<%= form_for(:session, url: sessions_path, html: {class: 'form-signin'}) do |f| %>
  <%= f.label :email, t('activerecord.attributes.admin.email') %>
  <%= f.text_field :email %>

  <%= f.label :password, t('activerecord.attributes.admin.password') %>
  <%= f.password_field :password %>

  <%= f.submit  t('links.sign_in'), class: "btn btn-large btn-primary" %>
<% end %>
