<% provide(:title, t(:list_all, model: Client.model_name.human.pluralize)) %>
<% if @clients.empty? %>
  <h2><%= t(:no_items_found) %></h2>
<% else %>
<h2><%= t(:list_all, model: Client.model_name.human.pluralize) %></h2>

<%= will_paginate %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.client.lastname') %></th>
        <th><%= t('activerecord.attributes.client.firstname') %></th>
        <th><%= t('activerecord.attributes.client.phone') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @clients %>
    </tbody>
  </table>
<%end%>


<%= will_paginate %>
<br>
<%= link_to t('links.new', model: Client.model_name.human), new_client_path %>
