<%= provide(:title, 'All clients') %>
<h1>All clients</h1>

<%= will_paginate %>

<table class="table table-striped">
  <%= render @clients %>
</table>


<%= will_paginate %>

<%= link_to 'New client', new_client_path %>
