<%= provide(:title, 'All clients') %>
<h1>All clients</h1>

<%= will_paginate %>
<% if @clients.any? %>

  <table class="table table-striped">
    <thead>
      <tr>        
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @clients %>
    </tbody>
  </table>
<%end%>


<%= will_paginate %>

<%= link_to 'New client', new_client_path %>
