<% provide(:title, @client.full_name) %>
<h1><%= @client.full_name %></h1>

<% if @client.operations.any? %>
  <h2>Operations list</h2>
  <table class="table table-striped">
    <thead>
      <tr>        
        <th>Date</th>
        <th>Operation</th>
        <th>Sum</th>
        <th>Rate</th>
        <th>Close date</th>
        <th>Duration</th>
        <th>Interests</th>
        <th>Total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'client_operation', :collection => @operations, as: :operation %>
    </tbody>
  </table>
  <%= will_paginate @operations %>  
<%end%>

<p><%= link_to "New operation", new_client_operation_path(@client) %>|<%= link_to "Back to List", clients_path %></p>