<% provide(:title, @client.full_name) %>
<h1><%= @client.full_name %></h1>

<% if @accounts.empty? %>
  <h2><%= t(:no_items_found) %></h2>
<%  else %>
  <h2><%= t(:list_all, model: Account.model_name.human.pluralize) %></h2>
  <table class="table table-striped">
    <thead>
      <tr>        
        <th><%= t('activerecord.attributes.account.acc_number') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @accounts %>
    </tbody>
  </table>
  <%= will_paginate @accounts %>  
<%end%>

<%= render 'account_form'%>

<%= link_to t('links.back_to_list'), clients_path %></p>