<tr>
  <td><%= operation.value_date.to_s%></td>
  <td><%= operation.operation_type%></td>
  <td><%= operation.sum %></td>
  <td><%= operation.duration%></td>
  <td><%= operation.rate%></td>
  <td><%= operation.interests%></td>
  <td><%= operation.total%></td>    
</tr>
