<tr>
  <td><%= operation.value_date.to_date%></td>
  <td><%= operation.close_date.to_date if operation.close_date %></td>
  <td><%= operation.operation_type%></td>
  <td><%= number_with_precision(operation.sum, precision: 2) %></td>
  <td><%= operation.duration%></td>
  <td><%= number_with_precision(operation.rate, precision: 2)%></td>
  <td><%= number_with_precision(operation.interests, precision: 2)%></td>
  <td><%= number_with_precision(operation.total, precision: 2)%></td>
</tr>
