<% provide(:title, t(:edit, model: Operation.model_name.human)) %>
<h1><%= t(:edit, model: Operation.model_name.human) %></h1>

<div class="row">
  <div class="span6 offset3" style="text-align: right;  background-color: #D9EDF7;">
    <%= t('activerecord.models.account') %>:<%= @account.acc_number %>
  </div>
</div>

<div class="row">
  <div class="span6 offset3" style="text-align: right;  background-color: #F2DEDE;">
    <%= t(:account_balance) %>:<%= number_to_currency(@balance) %>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@account, @operation]) do |f| %>

        <%= render 'fields', f: f %>

        <%= f.submit class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to t('links.back_to_list'), @account %>
  </div>
</div>
