<%= provide(:title, t(:list_all, model: Operation.model_name.human.pluralize)) %>

<h2><%= t(:list_all, model: Operation.model_name.human.pluralize) %></h2>
<% if @operations.empty? %>
    <%= t(:no_items_found) %>
    <% else %>

<%= will_paginate %>
<table class="table table-striped">
  <thead>
      <tr>
        <th><%= t('activerecord.attributes.client.lastname') %></th>
        <th><%= t('activerecord.attributes.client.firstname') %></th>
        <th><%= t('activerecord.attributes.operation.sum') %></th>
      </tr>
    </thead>
  <tbody>
  <%= render :partial => "client", :collection => @operations, :as => :client %>
  </tbody>
</table>

<%= will_paginate %>
<% end %>